* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: 2000px;
}

.Input-Box {
  border-radius: 16px;
  margin: 8px;
}

.text-Color {
  color: #e8e8e8;
}

.text-large {
  font-size: large;
}

.padding-medium {
  padding: 1rem;
}

.rounded {
  border-radius: 8px;
}

.raised {
  box-shadow: 1px 1px 8px 2px black;
}

.active\:raised:active {
  box-shadow: 1px 1px 8px 2px black;
}

.sunken {
  box-shadow: inset 1px 1px 2px 2px black;
}

.active\:sunken:active {
  box-shadow: inset 1px 1px 2px 2px black;
}

.gap-small {
  gap: 1rem;
}

.brighten {
  filter: brightness(1.3);
}

.hover\:brighten:hover {
  filter: brightness(1.3);
}

.sp-buttons {
  background-color: rgba(156, 156, 156, 0.044);
  border-radius: 16px;
}

.border-none {
  border: none;
}

.button-style {
  background-color: rgba(72, 72, 72, 0.5);
}

.accentColor {
  background-color: #323233;
}

.Label-Box {
  border-radius: 16px;
  margin: 2px;
  margin-inline: 1px;
  padding: 3px;
  width: 70px;
  height: 20px;
  text-align: center;
  font: bold;
}

header h1 {
  border-radius: 16px;
  margin: 9px;
  padding: 10px;
  width: 221px;
  font: bold;
}

.Input-Form-Container {
  background-color: #555555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 16px;
  padding: 10px;
  width: 225px;
  height: 110px;
}

#todo-list {
  display: flex;
  flex-flow: row wrap;
}

#todo-list li {
  background-color: #555555;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 180px;
  height: 225px;
  margin: 10px;
  border-radius: 16px;
}

#todo-list h2 {
  background-color: #323233;
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: calc(1vw + 1vh);
  font: bold;
  border-radius: 16px;
  border: 2px solid white;
  padding: 0.5rem;
  height: 20px;
  width: 130px;
}

footer {
  background-color: #555555;
  width: 100%;
  height: 350px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footerhead {
  background-color: #323233;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  padding: 0.5rem;
  margin: 1rem;
  width: 125px;
  height: 125px;
}
.footerphoto {
  height: 80px;
}
.footerdescription {
  background-color: #323233;
  color: white;
  width: 478.344px;
  height: 94.5px;
  border-radius: 16px;
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
}
.movingD2 {
  align-self: flex-end;
}

/* From Uiverse.io by himanshu9682 */
.container {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  position: relative;
  z-index: 0;
  border-radius: 16px;
  margin: 2px;
  width: 135px;
  height: 25px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background-color: #d4d4d4;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}

.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}

.button:hover {
  letter-spacing: 6px;
}

.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}

.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
